<h2>Posts</h2>

<spinner [visible]="postsIsLoading" ></spinner>
<div *ngIf="!postsIsLoading">
    <div class="row">
        <div class="col-md-6">
            <select class="form-control" #u (change)="getPosts({userId: u.value})" >
            <!--<select class="form-control" #u (change)="getPosts({page: 3})" >-->
                <option value="" >Select a user...</option>
                <option *ngFor="#user of users" 
                        value="{{user.id}}" 
                        [selected]="user.id == selectedUserId" >{{user.name}}</option>
            </select>
            <pagination [items]="posts" [pageSize]="10" (tabSelected)="showPostsForTab($event)" ></pagination>
            <ul class="list-group posts" >
                <li class="list-group-item" *ngFor="#post of pagedPosts"
                    [class.active]="selectedPost == post"    
                    (click)="clickSelection(post)" >{{post.title}}</li>
            </ul>
        </div>
        <div class="col-md-6" *ngIf="postHasBeenSelected">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selectedPost.title}}</h3>
                </div>
                <div class="panel-body">
                    {{selectedPost.body}}
                </div>
                <spinner [visible]="commentsIsLoading" ></spinner>
                <ul class="list-group" *ngIf="!commentsIsLoading">
                    <li class="list-group-item" *ngFor="#comment of comments" >
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object thumbnail round" 
                                            src="http://lorempixel.com/80/80/people?random={{comment.id}}" >
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ comment.name }}</h4>
                                {{ comment.body }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
</div>
