<h2>Users</h2>
    <div *ngIf="isLoading" >
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div *ngIf="!isLoading">
        <p>
            <button class="btn btn-primary" (click)="addUser()">Add User</button>
        </p>    
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="#user of users" >
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a [routerLink]="['EditUser', {id:user.id}]" >
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a><i class="glyphicon glyphicon-remove clickable" (click)="confirmDelete(user)" ></i></a>
                </td>
            </tr>
        </table>
    </div>